WebAdmin/Connected Services/TestBotSrv/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="position" type="xs:int" />
        <xs:element minOccurs="0" name="tlgUserId" type="xs:long" />
        <xs:element minOccurs="0" name="tlgUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastEnter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bestResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>